* {
  color: white;
}

body,
html {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
  overflow: hidden;

  background-color: #3ddf7e;
  position: relative;
}

header h1 {
  position: absolute;
  top: 50px;
  font-size: 3rem;
  z-index: 2;
}

header img {
  position: absolute;
  bottom: -27rem;
  left: 50%;
  transform: translateX(-50%);
  width: 40rem;
  height: auto;
  z-index: 1;
}
footer {
  flex-grow: 1;
}
.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  background-color: black;
}

.checkout-container h1 {
  margin: 2rem 0;

  text-align: left;
  width: 45%;
}

.checkout-items-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0 50px;
}

.card img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/4;
}
.card h2 {
  color: black;
  margin: 10px 10px;
}

.card button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 10px 10px;
  /* width: auto; */
  width: 30%;
}

.card button:hover {
  cursor: pointer;
}

.order-summary {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;

  padding: 5rem;
  top: 50px;
  width: 45%;
  height: auto;
}

.order-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.order-total {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-top: 1px solid #fff;
  margin-top: 1rem;
}

.order-item:last-child {
  border-bottom: none;
}

.product-info {
  display: flex;
  background-color: darkred;
  opacity: 0.7;
}

.product-info h3 {
  margin: -2px 10px;
}

.order-product,
.order-amount,
.order-price {
  flex: 1;
}

.order-product {
  flex: 4;
}

.order-amount {
  flex: 3;
}

.item-name,
.item-quantity,
.item-price {
  flex: 1;
}

.item-name {
  flex: 4;
}

.item-quantity {
  flex: 3;
}

.order-summary button {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin-top: 1rem;
  width: 30%;
  margin-left: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding: 20px;
}

.footer-left,
.footer-middle,
.footer-right {
  flex: 1;
}

.footer-left ul {
  list-style: none;
  padding: 0;
}

.footer-left ul li {
  display: inline;
  margin-right: 10px;
}

.footer-left img {
  width: 100px;
  height: auto;
}

.footer-left p {
  font-size: 14px;
  color: #ffffff;
}

.footer-middle {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  text-align: center;
  margin: 20px 0;
}
.social-icons a {
  color: #333;
  margin-right: 10px;
}

.social-icons a:hover {
  color: #007bff;
}

.fa-facebook-f {
  color: blue;
}

.fa-instagram {
  color: purple;
}

.fa-twitter {
  color: lightblue;
}
