@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body,
html {
  /* margin: 0; */
  /* padding: 0; */
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  background-color: black;
}

.header-picture {
  width: 100%;
}

.main-container main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-container main div {
  flex-basis: calc(
    33.33% - 20px
  ); /* 33.33% for 3 items per row, 20px for margin */
  margin: 10px;
}

.main-container main div img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.main-container main div h1,
.main-container main div p {
  color: white;
  margin: 10px 10px;
}

button {
  color: white;
  background-color: red;
  border: none;
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  margin: 10px 10px;
}

.secondary-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-container {
  color: black;
  display: flex;
/* margin: 50px 100px; */

}

.secondary-container img {
  width: 80%;
  height: auto;
  aspect-ratio: 3/4; /* Set the aspect ratio to 3:4 */
  margin: auto;
}

.secondary-container .text-container {
  background-color: white;
  width: 80%;
  margin: -26px 0;
}

.secondary-container .text-container h1 {
  margin: 20px 20px;
padding-top: 20px;
}

.secondary-container .text-container p {
  margin: 20px 20px;
}
footer {
  /* margin-top: auto; */
  margin: 50px 0;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* gray background */
  background-color: gray;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-right ul {
  list-style-type: none;
  padding: 0;
}

.footer-right ul li {
  margin-bottom: 10px;
}
