@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body,
html {
  /* margin: 0; */
  /* padding: 0; */
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  background-color: black;
}

.header-picture {
  width: 100%;
}

.main-container main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px 100px;
}

.main-container main div {
  flex-basis: calc(
    33.33% - 20px
  ); /* 33.33% for 3 items per row, 20px for margin */
  margin: 10px;
}

.main-container main div img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.main-container main div h1,
.main-container main div p {
  color: white;
  margin: 10px 10px;
}

button {
  color: white;
  background-color: red;
  border: none;
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  margin: 10px 10px;
}

/* .secondary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

} */
.secondary-container {
  display: flex;
  justify-content: center;
}

.char-11, .char-12 {
  display: flex;
  flex-direction: column;

  width: 45%; 
  margin: 0 10px; 
}

.char-11 img, .char-12 img {
  width: 100%;
  height: auto;  
}


.char-11, .char-12 {
  color: black;
  background-color: white;
  margin: 10px 10px;
}


/* footer content */

footer {
  /* margin-top: auto; */
  margin: 50px 0;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* gray background */
  background-color: gray;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-right ul {
  list-style-type: none;
  padding: 0;
}

.footer-right ul li {
  margin-bottom: 10px;
}
